.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    padding: 32px 24px;
    margin: auto;
}

.filters-section {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 12px;
    border-right: 1px solid var(--bg-action-btn);
    background: var(--bg-secondary);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: all 0.3s ease;
}

.categories-title {
    color: var(--logo-text);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categ-button {
    display: flex;
    height: 44px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--bg-action-btn-hover);
    background: var(--categ-btn);
    color: var(--actions-icon);
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-transform: capitalize;
}

.categ-button:hover {
    background-color: var(--categ-btn-hover);
    border-color: var(--border-action-btn-hover);
}

.categ-button.active {
    background-color: var(--blue-600);
    border-color: var(--blue-600);
}
