@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --gray-950: #0a0a0a;
    --gray-900: #171717;
    --gray-800: #262626;
    --gray-700: #404040;
    --gray-600: #525252;
    --gray-500: #737373;
    --gray-400: #a3a3a3;
    --gray-300: #d4d4d4;
    --gray-200: #e5e5e5;
    --gray-100: #f5f5f5;
    --gray-50: #fafafa;

    --blue-600: #2563eb;
    --blue-500: #3b82f6;
    --blue-400: #60a5fa;

    --red-900: #7f1d1d;
    --red-600: #dc2626;
    --red-500: #ef4444;

    --yellow-400: #fbbf24;

    --green-500: #22c55e;

    --white: #fff;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    --bg-primary: var(--gray-100);
    --bg-secondary: var(--white);

    --logo-text: var(--gray-900);

    --bg-input: var(--gray-200);
    --bg-input-focus: var(--white);
    --border-input: var(--gray-700);
    --text-input: var(--gray-400);

    --search-icon: var(--gray-500);

    --bg-action-btn: var(--gray-100);
    --border-action-btn: var(--gray-200);
    --border-action-btn-hover: var(--gray-300);
    --bg-action-btn-hover: var(--gray-200);

    --actions-icon: var(--gray-700);
}

.dark {
    --bg-primary: var(--gray-950);
    --bg-secondary: var(--gray-900);

    --logo-text: var(--gray-50);

    --bg-input: var(--gray-800);
    --bg-input-focus: var(--gray-700);
    --border-input: var(--gray-700);
    --text-input: var(--gray-500);

    --search-icon: var(--gray-400);

    --bg-action-btn: var(--gray-800);
    --border-action-btn: var(--gray-700);
    --border-action-btn-hover: var(--gray-600);
    --bg-action-btn-hover: var(--gray-700);

    --actions-icon: var(--gray-300);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-primary);
}
